# Third-party components
node_modules/
bower_components/
packages/

# User-specific files
*.suo
*.user

# Build files
[Bb]in/
[Oo]bj/

# Project files
.vs/
.idea/
project.lock.json
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
